<mat-card class="max-widht-card mb-5" style="background-color: #f5f5f5">
  <mat-card-header class="my-3 justify-content-center">
    <div class="input-group mx-3">
      <span class="input-group-text">
        <mat-icon>search</mat-icon>
      </span>
      <input
        type="text"
        class="form-control"
        placeholder="Search"
        [(ngModel)]="searchOrderInput"
        (ngModelChange)="onSearchChange($event)"
      />
    </div>
    <button
      mat-fab
      extended
      class="fab-button"
      matTooltip="Add Order"
      matTooltipPosition="below"
      (click)="openCreateOrderDialog()"
    >
      <mat-icon>add</mat-icon>
      Add Order
    </button>

    <button
      mat-fab
      class="icon-button"
      matTooltip="Add Order"
      matTooltipPosition="below"
      (click)="openCreateOrderDialog()"
    >
      <mat-icon>add</mat-icon>
    </button>
  </mat-card-header>

  <mat-card-content>
    <div class="row mx-3">
      @if (orderDataSource.data.length) {
      <table mat-table [dataSource]="orderDataSource">
        <ng-container matColumnDef="productList">
          <th mat-header-cell *matHeaderCellDef>
            <strong>Product List</strong>
          </th>
          <td mat-cell *matCellDef="let element">
            {{ getOrderCustomerName(element) }}
          </td>
        </ng-container>

        <ng-container matColumnDef="customerName">
          <th mat-header-cell *matHeaderCellDef>
            <strong>Customer Name</strong>
          </th>
          <td mat-cell *matCellDef="let element">
            {{ getOrderCustomerName(element) }}
          </td>
        </ng-container>

        <ng-container matColumnDef="customerEmail">
          <th mat-header-cell *matHeaderCellDef>
            <strong>Customer Email</strong>
          </th>
          <td mat-cell *matCellDef="let element">
            {{ getOrderCustomerEmail(element) }}
          </td>
        </ng-container>

        <ng-container matColumnDef="totalAmount">
          <th mat-header-cell *matHeaderCellDef>
            <strong>Total Amount</strong>
          </th>
          <td mat-cell *matCellDef="let element">
            {{ getOrderTotalAmount(element) }}
          </td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>
            <strong>Order Date</strong>
          </th>
          <td mat-cell *matCellDef="let element">
            {{ getOrderDate(element) }}
          </td>
        </ng-container>

        <thead>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        </thead>
        <tbody>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </tbody>
      </table>

      } @else {
      <mat-card
        class="align-self-center mt-3"
        style="background-color: #f5f5f5"
      >
        <mat-card-content class="my-3">
          <h5>
            <strong>Empty order list</strong>
          </h5>
        </mat-card-content>
      </mat-card>
      }
    </div>
  </mat-card-content>
</mat-card>
